body {
    font-family:Georgia; 
    background-color: #F0F0F0;
    
}
.container img {
    max-width: 100%;
    height: auto;
}

#landingImg {
    width: 40%;
    float: left;
    height: 50%;
}

#header {
    color: #23a79d;
    font-weight: bold;
}

#header2 {
    color: #23a79d;
    font-weight: bold;
}

.green {
    color: #23a79d;
    font-weight: bold;
    text-align: center; 
}

#box {
    background-color: white;
    width: 40%;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1px solid black;  
} 

#box2 {
    background-color: white;
    width: 20%;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
    border: 1px solid black;  
} 

#box3 {
    background-color: white;
    padding: 30px;
} 

.navbar {
    background: white;
}

.navbar a.navbar-brand {
    color:white;
    font-weight: bold;
    background-color: #23a79d;
    padding: 9px 18px;
    font-size:20px;
}
@media (max-width: 768px) {
    nav.navbar {
      background: #23a79d;
    }
    body { 
        background-color: white;
    }
    #box {
        background-color: white;
        border: none;
        width: 40%;
        padding: 10px;
        margin: auto; 
    } 
    #box2 {
        background-color: white;
        border: none;
        width: 40%;
        padding: 10px;
        margin: auto; 
    } 
}

.navbar a.nav-link {
      font-size:12px;
}

.navbar a.nav-link:hover {
    background-color:#F0F0F0;
}

.navbar a.dropdown-item {
    font-size:12px;
}  

.navbar a.dropdown-item:active {
    background-color:active;
} 
  
   
   
